.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.25em 0;
  background: var(--emerald-dark);
  gap: 0.5rem;
}

.header img {
  height: 32.99px;
  color: var(--white);
}

.header strong {
  color: var(--white);
  font-size: 1.75rem;
  font-weight: 900;
}

.header strong span {
  color: var(--lime);
}
